<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <admin_preview>
            <general>
                <product>1</product>
                <category>1</category>
                <cms>1</cms>
            </general>
        </admin_preview>
    </default>
</config>
