<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="admin_preview" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <class>separator-top</class>
            <label>Admin Preview</label>
            <tab>wmz</tab>
            <resource>WMZ_AdminPreview::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Admin Preview</label>
                <field id="product" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Products</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Choose 'Yes' to enable Product preview.</comment>
                </field>
                <field id="category" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Categories</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Choose 'Yes' to enable Category preview.</comment>
                </field>
                <field id="cms" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>CMS Pages</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Choose 'Yes' to enable CMS pages preview.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
